mat-grid-list{
mat-grid-tile {
  height: 30%;
mat-card {
  margin: 5%;
  min-height: 55%;
  max-height: 65%;
img {
  height: 250px;
}
.authorDetails{
.chipsetImage {
  border-radius: 50%;
  height: 25px !important;
  width: 25px;
}
mat-chip-list .mat-chip-list-wrapper {
  align-items: center;
}
mat-chip {
  padding: 1% 1% 1% 0 ;
}
}
}
}
}
