<mat-toolbar class="footerContainer" color="primary">
  <mat-toolbar-row>
    <h1>Fact Studio</h1>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
  <mat-divider></mat-divider>
  <mat-toolbar-row>
    <p>© Copyright 2018 Facts Studio - All Rights Reserved</p>
  </mat-toolbar-row>
  <span class="spacer"></span>
</mat-toolbar>
