@import '~@angular/material/theming';

@mixin strip-theme($theme) {
  $primary: map-get($theme, primary);

   .stripColor {
      background-color: mat-color($primary);
    }

}
.stripColor {
  mat-slide-toggle {
    position: absolute;
    right: 15px;
  }
}
